@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pratik_Gaikwad_Capstone_Project </h1>
    <p class="display-4">Under The Guidance Of Raman Sharma </p>
</div>
